<section>
    <h1>
        View the top {{25+25}} of your destinations here!
    </h1>

    <div class="place-tile" ng-repeat="(placedetail, place) in places">
        <image class="tile-pic"src="{{place.placePic}}"></image>
        <h3>{{place.placeName}}</h3>
        <h5>{{place.placeAddress}}</h5>
        <p>{{place.placeComment}}</p>
        <label>Done </label>
        <input class="view-completed"name="isCompleted" type="checkbox" ng-click="Completed(place)">
        <a class="btn btn-primary" href="/#/{{place.id}}/edit">Place Details</a>
    </div>
    
</section>
