<section>
    <h1>
        View the top {{25+25}} of your destinations here!
    </h1>
 
    <div>
        <table class="table table-condensed table-hover">
            <tr>
                <th>Application User</th>
                <th>Place</th>
                <th>Comment</th>
                <th>Details</th>
            </tr>
            <tr ng-repeat="(placedetail, place) in places">
                <td>{{place.applicationUserID}}</td>
                <td>{{place.placeID}}</td>
                <td>{{place.placeComment}}</td>
                <td><a class="btn btn-primary" href="/#/{{place.placeID}}/edit">Place Details</a></td>
            </tr>
        </table>
    </div>
</section>
