@{
    ViewBag.Title = "Home Page";
}

<div ng-app="WhereToApp">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&signed_in=true"></script>
    <div ng-controller="PlaceCtrl" class="map-jumbotron">
        <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
        <div id="map-canvas"></div>
    </div>

    <div ng-view> </div>

    

    <div class="map-jumbotron" ng-controller="PlaceCtrl">
        <div class="splash">
            <h1>WhereTo</h1>
            <h2> a place to keep track of your destinations </h2>
        </div>
        <h1 class="others-title"> Where Others Want to Visit</h1>
        <div class="place-tile" ng-repeat="place in places">
            <image class="tile-pic" ng-src="{{place.placePic}}"></image>
            <h3 class="tile-name">{{place.placeName}}</h3>
            <h5 class="tile-address">{{place.placeAddress}}</h5>
            <p class="tile-comment">{{place.placeComment}}...</p><br />

            <button class="btn-success" ng-click="AddMyList(place)">Add to My List!</button>
        </div>
        <h1> My Destinations</h1>
        <div class="place-tile" ng-repeat="place in myplaces">
            <image class="tile-pic" ng-src="{{place.placePic}}"></image>
            <h3 class="tile-name">{{place.placeName}}</h3>
            <h5 class="tile-address">{{place.placeAddress}}</h5>
            <p class="tile-comment">{{place.placeComment}}...</p><br />

        </div>
    </div>
</div>


