@{
    ViewBag.Title = "Home Page";
}

<div ng-app="WhereToApp">
    <div>
       This angular computation of 2 + 2 = {{2 + 2}}

    </div>
    <div ng-view>
    </div>
    <div class="jumbotron">
        <h1>WhereTo</h1>
        <p class="lead">WhereTo allows you to save your bucket list of destinations using the Google Places API</p>
    </div>
</div>