body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}

#map-canvas {
    height: 350px;
    margin: 0px;
    margin-left: -75px;
    margin-right: -75px;
    padding: 0px;
}

.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 32px;
    margin-left: 17px;
    margin-top: 16px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

.controls:focus {
     border-color: #4d90fe;
}

.place-tile {
    height: 500px;
    padding: 10px;
    width: 250px;
    display: inline-block;
    background-color: #FAEBD7;
    margin: 10px;
    text-align: center;
}

.tile-pic {
    margin: 20px;
    height: 200px;
    width: 200px;
}

.tile-name {
    height: 2em;
    overflow: hidden;
}

.tile-address {
    height: 2em;
    overflow: hidden;
}

.tile-comment {
    height: 3em;
    overflow: hidden;
}

.category {
    text-align: center;
}




              
